/** iPhone **/
@media only screen and (min-width: 320px) and (max-width: 767px) {
    // .bigbox {
    //     height: 100%;
    // }

    .OperatingArea {
        height: auto;
        display: flex;
        margin-bottom: 0rem;
        width: 100%;
        flex-direction: column;
    }

    /**我的按钮组**/

    .changeArea {
        // display: flex;
        width: 100%;
        margin-bottom: 1rem;
        width: 100%;
    }

    .buttomGroup {
        margin: 0;
        border-radius: 0;
        background-color: transparent;
        color: black;
        border: 0.12rem solid $btnColor;
        border-top: 0.24rem solid $btnColor;
        border-bottom: 0.24rem solid $btnColor;
        height: 2rem;
        line-height: 2rem + 0.24rem;
        padding: 0rem .5rem;
        cursor: pointer;
        @include webkit(transition, all 0.2s ease 0s);
        width: 33.333%;
        font-size: .8rem;
        text-align: center;
    }

    .buttomGroup:nth-child(3) {
        border-right: 0.24rem solid $btnColor;
    }

    .buttomGroup:nth-child(1) {
        border-left: 0.24rem solid $btnColor;
    }

    .buttomGroup:hover {
        background-color: $btnColor !important;
        color: White;
        font-weight: bold;
        padding: 0rem .5rem;
    }

    .buttomGroup:active {
        font-weight: bold;
        // font-size: 0.9rem + 0.08rem;
        @include webkit(transform, rotate(10deg));
    }


    //修改下拉框,和文本框
    .searchArea {
        // display: inline;
        display: flex;
        // flex-direction: column;
        height: auto;
        justify-content: space-between;
        margin-bottom: 1rem;
    }


    .groupNameInput {
        margin-left: 0rem;
        margin-right: 0rem;
        padding-right: 0rem;
        width: 50%;
    }

    .el-input__inner {
        border: none;
        border-bottom: .24rem solid $btnColor;
        border-radius: 0;
        font-size: 0.5rem !important;
        height: $operationAreaHeight - .24rem;
        line-height: $operationAreaHeight - .24rem;
    }

    .el-input__inner:hover {
        border-color: $btnColor !important;
    }

    .el-button:hover {
        padding: 12px 0rem;
    }

    .el-button {
        padding: 12px 0rem;
        margin-left: 0rem;
        border-radius: 0;
        width: 33%;
        font-size: .8rem;
    }


    .el-button:active {
        @include webkit(transform, rotate(10deg));
    }

    //权限组的信息,手风琴标题
    .titleTXT {
        display: none;
    }

    .titleTXT:nth-child(1) {
        display: inline;
    }

    .titleTXT:nth-child(2) {
        width: 100%;
        display: inline;
    }

    .el-collapse-item__content .el-table {
        width: 100%;
    }

    //dialog
    // 1. 居中弹框
    // .el-dialog {
    //     max-height: 60%;
    //     display: flex;
    //     flex-direction: column;
    //     max-width: 100%;
    //     width: 100%;
    // }

    // .el-dialog>.el-dialog__body {
    //     overflow: auto;
    //     padding: 1rem 3rem;
    //     border: .3rem rgba(79, 107, 168, 1) solid;
    //     border-bottom: none;
    //     border-top: none;

    //     .el-form {
    //         display: flex;
    //         flex-wrap: wrap;
    //         justify-content: space-between;
    //     }

    //     .el-form-item {
    //         width: 45%;

    //         .el-form-item__label {
    //             font-size: 1rem;
    //             font-weight: bold;
    //         }
    //     }
    // }

    // .el-dialog>.el-dialog__body::-webkit-scrollbar {
    //     width: 12px;
    //     cursor: pointer;
    // }

    // .el-dialog>.el-dialog__body::-webkit-scrollbar-thumb {
    //     background-color: #e6e6e6 !important;
    //     border-radius: 1rem;
    // }

    // .el-dialog__footer {
    //     // background-color: rgb(252, 249, 252);
    //     background-color: white;
    //     border: .3rem rgba(60, 91, 154, 1) solid;
    //     border-top: none;

    //     .el-button.el-button--primary {
    //         background-color: rgba(60, 91, 154, 1);
    //         border-color: rgba(60, 91, 154, 1);
    //     }
    // }

    // .el-dialog__header {
    //     background-color: rgba(60, 91, 154, 1);
    //     @include webkit(box-shadow, 0 0.125rem .9rem 0px rgba(0, 0, 0, 0.1));

    //     .el-dialog__title {
    //         color: white;
    //         font-weight: bold;
    //     }

    //     .el-dialog__headerbtn {
    //         i {
    //             color: white;
    //             font-size: 1.2rem;
    //         }
    //     }
    // }

}

/*iPhone横屏*/
@media only screen and (orientation:landscape) and (min-height: 320px) and (max-height: 500px) {
    .OperatingArea {
        height: auto;
        display: flex;
        margin-bottom: 0rem;
        width: 100%;
        flex-direction: column;
    }

    /**我的按钮组**/

    .changeArea {
        // display: flex;
        width: 100%;
        margin-bottom: 1rem;
        width: 100%;
    }

    .buttomGroup {
        margin: 0;
        border-radius: 0;
        background-color: transparent;
        color: black;
        border: 0.12rem solid $btnColor;
        border-top: 0.24rem solid $btnColor;
        border-bottom: 0.24rem solid $btnColor;
        height: 2.2rem !important;
        line-height: 2.2rem + 0.24rem !important;
        padding: 0rem .5rem;
        cursor: pointer;
        @include webkit(transition, all 0.2s ease 0s);
        width: 33.333%;
        font-size: .6rem !important;
        text-align: center;
    }

    .buttomGroup:nth-child(3) {
        border-right: 0.24rem solid $btnColor;
    }

    .buttomGroup:nth-child(1) {
        border-left: 0.24rem solid $btnColor;
    }

    .buttomGroup:hover {
        background-color: $btnColor !important;
        color: White;
        font-weight: bold;
        padding: 0rem .5rem;

    }

    .buttomGroup:active {
        font-weight: bold;
        // font-size: 0.9rem + 0.08rem;
        @include webkit(transform, rotate(10deg));
    }


    //修改下拉框,和文本框
    .searchArea {
        // display: inline;
        display: flex;
        // flex-direction: column;
        height: auto;
        justify-content: space-between;
        margin-bottom: .5rem !important;

    }


    .group_like {
        // margin-left: 2rem;
        width: 45%;
    }

    .like_name {
        width: 45%;
        padding-right: 0rem;
    }

    .el-input__inner {
        border: none;
        border-bottom: .24rem solid $btnColor;
        border-radius: 0;
        font-size: 0.5rem !important;
        height: $operationAreaHeight - .24rem;
        line-height: $operationAreaHeight - .24rem;
    }

    .el-input__inner:hover {
        border-color: $btnColor !important;
    }

    //修改el-button
    .el-button:hover {
        padding: 12px 0rem;
        // border: 2px #3C5B9A solid;
        // opacity: .9;
    }

    .el-button {
        padding: 12px 0rem;
        margin-left: 0rem;
        border-radius: 0;
        width: 33%;
        font-size: .8rem;
    }


    .el-button:active {
        @include webkit(transform, rotate(10deg));
    }


}


/** iPad **/
@media only screen and (min-width: 768px) and (max-width: 1023px) {

    .OperatingArea {
        height: auto;
        display: flex;
        margin-bottom: 0rem;
        width: 100%;
        flex-direction: column;
    }

    /**我的按钮组**/

    .changeArea {
        // display: flex;
        width: 100%;
        margin-bottom: 1rem;
        width: 100%;
    }

    .buttomGroup {
        margin: 0;
        border-radius: 0;
        background-color: transparent;
        color: black;
        border: 0.12rem solid $btnColor;
        border-top: 0.24rem solid $btnColor;
        border-bottom: 0.24rem solid $btnColor;
        height: 2rem;
        line-height: 2rem + 0.24rem;
        padding: 0rem .5rem;
        cursor: pointer;
        @include webkit(transition, all 0.2s ease 0s);
        width: 33.333%;
        font-size: .8rem;
        text-align: center;
    }

    .buttomGroup:nth-child(3) {
        border-right: 0.24rem solid $btnColor;
    }

    .buttomGroup:nth-child(1) {
        border-left: 0.24rem solid $btnColor;
    }

    .buttomGroup:hover {
        background-color: $btnColor !important;
        color: White;
        font-weight: bold;
        padding: 0rem .5rem;

    }

    .buttomGroup:active {
        font-weight: bold;
        // font-size: 0.9rem + 0.08rem;
        @include webkit(transform, rotate(10deg));
    }


    //修改下拉框,和文本框
    .searchArea {
        // display: inline;
        display: flex;
        // flex-direction: column;
        height: auto;
        justify-content: flex-end;
        margin-bottom: 1rem;
    }

    .groupNameInput {
        margin-left: 0rem;
        margin-right: 1rem;
        padding-right: 0rem;
        width: 30%;
    }


    .el-input__inner {
        border: none;
        border-bottom: .24rem solid $btnColor;
        border-radius: 0;
        font-size: 0.5rem !important;
        height: $operationAreaHeight - .24rem;
        line-height: $operationAreaHeight - .24rem;
    }

    .el-input__inner:hover {
        border-color: $btnColor !important;
    }

    //修改el-button

    // .searchArea:last-child {
    //     // display: inline;
    //     display: flex;
    //     justify-content: space-between;
    //     height: auto;
    //     margin-bottom: 1.5rem;
    // }

    .el-button:hover {
        padding: 12px 0rem;
        // border: 2px #3C5B9A solid;
        // opacity: .9;
    }

    .el-button {
        padding: 12px 0rem;
        margin-left: 0rem;
        border-radius: 0;
        width: 33%;
        font-size: .8rem;
    }

    .el-button:active {
        @include webkit(transform, rotate(10deg));
    }

    //权限组的信息,手风琴标题
    .titleTXT {
        display: none;
    }

    .titleTXT:nth-child(1) {
        display: inline;
    }

    .titleTXT:nth-child(2) {
        display: inline;
        width: 100%;
    }

    .el-collapse-item__content .el-table {
        width: 100%;
    }
}

/** iPad,iPadPro 横屏**/
@media only screen and (orientation:landscape) and (min-width: 768px) and (max-width: 1366px) {}

/* 低分辨率笔记本和Ipad Pro */
@media only screen and (min-width: 1024px) and (max-width: 1366px) {

    .OperatingArea {
        height: auto;
        display: flex;
        margin-bottom: 0rem;
        width: 100%;
        flex-direction: column;
    }

    /**我的按钮组**/

    .changeArea {
        // display: flex;
        width: 100%;
        margin-bottom: 1rem;
        width: 100%;
    }

    .buttomGroup {
        margin: 0;
        border-radius: 0;
        background-color: transparent;
        color: black;
        border: 0.12rem solid $btnColor;
        border-top: 0.24rem solid $btnColor;
        border-bottom: 0.24rem solid $btnColor;
        height: 2rem;
        line-height: 2rem + 0.24rem;
        padding: 0rem .5rem;
        cursor: pointer;
        @include webkit(transition, all 0.2s ease 0s);
        width: 33.333%;
        font-size: .8rem;
        text-align: center;
    }

    .buttomGroup:nth-child(3) {
        border-right: 0.24rem solid $btnColor;
    }

    .buttomGroup:nth-child(1) {
        border-left: 0.24rem solid $btnColor;
    }

    .buttomGroup:hover {
        background-color: $btnColor !important;
        color: White;
        font-weight: bold;
        padding: 0rem .5rem;

    }

    .buttomGroup:active {
        font-weight: bold;
        // font-size: 0.9rem + 0.08rem;
        @include webkit(transform, rotate(10deg));
    }


    //修改下拉框,和文本框
    .searchArea {
        // display: inline;
        display: flex;
        // flex-direction: column;
        height: auto;
        justify-content: flex-end;
        margin-bottom: 1rem;
    }

    .groupNameInput {
        margin-left: 0rem;
        margin-right: 1rem;
        padding-right: 0rem;
        width: 30%;
    }


    .el-input__inner {
        border: none;
        border-bottom: .24rem solid $btnColor;
        border-radius: 0;
        font-size: 0.5rem !important;
        height: $operationAreaHeight - .24rem;
        line-height: $operationAreaHeight - .24rem;
    }

    .el-input__inner:hover {
        border-color: $btnColor !important;
    }



    .el-button:hover {
        padding: 12px 0rem;
        // border: 2px #3C5B9A solid;
        // opacity: .9;
    }

    .el-button {
        padding: 12px 0rem;
        margin-left: 0rem;
        border-radius: 0;
        width: 33%;
        font-size: .8rem;
    }

    .el-button:active {
        @include webkit(transform, rotate(10deg));
    }

    //权限组的信息,手风琴标题
    .titleTXT {
        display: none;
    }

    .titleTXT:nth-child(1) {
        display: inline;
    }

    .titleTXT:nth-child(2) {
        display: inline;
        width: 100%;
    }

    .el-collapse-item__content .el-table {
        width: 100%;
    }
}